.menu_bar_container {
    padding-top: 14px;
}
.menu_bar_box {
    width: 220px;
}

.menu_bar_box_container {
    position: fixed; 
}

.menu_bar_container div:first-child {
    margin-left: 27px;
    margin-bottom: 20px;
}

.menu_bar_container div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu_bar_container div button {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.menu_bar_container div button:hover {
    background-color: var(--twitter-dark-hover);
}

.menu_bar_container div button span {
    margin-left: 14px;
    color: var(--white);
}
.menu_bar_container div button .active {
    color: var(--twitter);
}

.menu_bar_container .tweet_button {
    color: var(--white);
    background-color: var(--twitter);
    padding: 10px 45px;
    border-radius: 16px;
    margin-top: 40px;
}
    
    @media (max-width: 870px) {
        .menu_bar_box {
            width: 20px;
            transform: translatex(-80px);
        }
        .menu_bar_container div button span {
            display: none;
        }
        .menu_bar_container .tweet_button {
            display: none;
        }
        .menu_bar_container {
            position: fixed; 
            top: 14px;
            left: 20px;
        }
    }
    @media (max-width: 670px) {
        .menu_bar_container {
            display: none;
        }
    }
